@model List<BookStoreOnline.Models.Order>

@{
    ViewBag.Title = "Revenue Statistics";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        color: #f00f;
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: left;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

        table th {
            background-color: #ff9800;
            color: #fff;
            font-weight: bold;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ccc;
        }

        table th {
            background-color: #ff9800;
            color: #f00f;
            font-weight: bold;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ccc;
        }

        table tr:nth-child(even) td {
            background-color: #f2f2f2;
        }

        table tr:hover td {
            background-color: #ffedcc;
        }

        table td {
            background-color: #fff;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            font-weight: bold;
        }

    
</style>

<div class="container" style="margin-top: 25px;">
    <h3 style="text-align: center;">Thống kê doanh thu</h3>
    <form method="get" action="@Url.Action("RevenueStatistics", "OrderAdmin")">
        <label for="startDate">Từ:</label>
        <input type="date" id="startDate" name="startDate" required />

        <label for="endDate">Đến:</label>
        <input type="date" id="endDate" name="endDate" required />

        <button type="submit">Lọc</button>
    </form>


    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-bordered table-primary table-hover" style="text-align: center; margin-top: 20px;">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Tên Khách hàng</th>
                    <th>Ngày Mua</th>
                    <th>Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.IDOrder</td>
                        <td>@order.Customer.NameCustomer</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", order.DateOrder)</td>
                        @{
                            var totalAmount = order.OrderDetail.Sum(od => od.UnitPrice);
                            var formattedAmount = string.Format("{0:c0}", totalAmount);
                        }
                        <td>@formattedAmount.Substring(1)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p style="text-align: center;">Không có dữ liệu trong thời gian này</p>
    }
    @if (ViewBag.TotalRevenue != null)
    {
        <div class="total-revenue" style="text-align: center;">
            @{
                var totalRevenueFormatted = string.Format("{0:c0}", ViewBag.TotalRevenue);
            }
            <h4>Tổng doanh thu: @totalRevenueFormatted.Substring(1) VND</h4>
        </div>
    }
</div>


