@model IEnumerable<BookStoreOnline.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        color: #f00f;
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-align: left;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

        table th {
            background-color: #ff9800;
            color: #fff;
            font-weight: bold;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ccc;
        }

        table th {
            background-color: #ff9800;
            color: #f00f;
            font-weight: bold;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ccc;
        }

        table tr:nth-child(even) td {
            background-color: #f2f2f2;
        }

        table tr:hover td {
            background-color: #ffedcc;
        }

        table td {
            background-color: #fff;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            font-weight: bold;
        }

    .wrapper {
        position: fixed;
        transform: translate(10%, -10%);
    }

    .link_wrapper {
        position: relative;
    }

    .button {
        display: block;
        width: 250px;
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        text-decoration: none;
        background: #f12020;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 3px solid #0aa8b755;
        transition: all .35s;
    }

    .icon {
        width: 50px;
        height: 50px;
        border: 3px solid transparent;
        position: absolute;
        transform: rotate(45deg);
        right: 0;
        top: 0;
        z-index: -1;
        transition: all .35s;
    }

        .icon svg {
            width: 30px;
            position: absolute;
            top: calc(50% - 15px);
            left: calc(50% - 15px);
            transform: rotate(-45deg);
            fill: #2ecc71;
            transition: all .35s;
        }

    .button:hover {
        width: 200px;
        border: 3px solid #2ecc71;
        background: transparent;
        color: #2ecc71;
    }

        .button:hover + .icon {
            border: 3px solid #2ecc71;
            right: -25%;
        }
    a{
        color: yellow
    }
    a:hover{
        color:black
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-4">
            <p style="text-align:center"><h2>Danh mục sản phẩm</h2></p>
            <div class="wrapper">
                <div class="link_wrapper">
                    <div class="button" style="width:250px">  @Html.ActionLink("Thêm thể loại mới", "Create")</div>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832">
                            <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z" />
                        </svg>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>
                Danh mục
            </th>
            <th> Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <div class="btn btn-primary">@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.CategoryID })</div>

                    <div class="btn btn-danger">  @Html.ActionLink("Xóa", "Delete", new { id = item.CategoryID })</div>

                    <div class="btn btn-secondary"> @Html.ActionLink("Chi Tiết", "Details", new { id = item.CategoryID })</div>

                </td>
            </tr>
        }

    </table>

</div>